body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7; /* Couleur de fond claire */
  }
  
  section {
    text-align: center;
    width: 35%;
    height: auto;
  }
  
  .up {
    display: flex;
    justify-content: flex-start;
  }
  
  .up h3 {
    color: #3b4564; /* Couleur de texte foncée */
    font-size: 30px;
    font-weight: bold;
  }
  
  #display {
    background-color: #e9e4dc; /* Couleur de fond claire */
    border-radius: 15px;
    width: 100%;
    height: 90px;
    margin-bottom: 20px;
    color: #242d44; /* Couleur de texte foncée */
    font-size: 50px;
    text-align: right;
  }
  
  .buttons {
    height: 425px;
    background-color: #f0f0f0; /* Couleur de fond claire */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 17px;
  }
  
  button {
    background-color: #3b4564; /* Couleur de fond foncée */
    padding: 12px 22px;
    text-align: center;
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    color: #f7f7f7; /* Couleur de texte claire */
  }
  
  .equal {
    background-color: #ff5555; /* Couleur de fond rouge */
    color: white;
    grid-column: span 2;
    font-weight: bold;
  }
  
  .reset {
    background-color: #647296; /* Couleur de fond foncée */
    color: white;
    font-weight: bold;
    grid-column: span 2;
  }
  