body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #3b4564;
  margin: 0;
}

section {
  text-align: center;
  width: 80%; /* Ajustez la largeur pour s'adapter à la taille de l'écran */
  max-width: 400px; /* Définissez une largeur maximale pour éviter qu'il devienne trop large sur un grand écran */
  margin: 20px;
  background-color: #242d44;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.up {
  display: flex;
  justify-content: center; /* Centrez le contenu sur tous les écrans */
  align-items: center;
  font-family: 'Rajdhani', sans-serif;
  padding: 20px;
}

.up h3 {
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 24px; /* Ajustez la taille de la police pour une meilleure lisibilité */
}

#display {
  background-color: #191f31;
  border-radius: 15px;
  width: 90%;
  max-width: 400px; /* Définissez une largeur maximale */
  height: 90px;
  margin-bottom: 20px;
  color: white;
  font-size: 30px; /* Ajustez la taille de la police */
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
}

.buttons {
  display: flex;
  flex-wrap: wrap; /* Permettez aux boutons de passer à la ligne sur des écrans plus petits */
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); /* Utilisez une grille flexible pour les boutons */
  gap: 10px;
}

button {
  background-color: #b5bfd9;
  padding: 12px 22px;
  text-align: center;
  border-radius: 15px;
  font-size: 16px; /* Ajustez la taille de la police */
  font-family: 'Rajdhani', sans-serif;
}

.equal,
.reset {
  background-color: red;
  color: white;
  font-weight: bold;
  font-family: 'Rajdhani', sans-serif;
}

.reset {
  background-color: #647296;
}
