body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #3b4564;
}

section {
  text-align: center;
  width: 30%;
  height: auto;
  background-color: #242d44;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.up {
  display: flex;
  justify-content: flex-start;
}

.up h3 {
  color: white;
  font-family: 'Orbitron', sans-serif; 
  font-size: 30px;
  margin-left: 15px;
}

#display {
  background-color: #191f31;
  border-radius: 15px;
  width: 90%;
  height: 90px;
  margin-bottom: 20px;
  color: white;
  font-size: 50px;
  text-align: center;
}

.buttons {
  height: 425px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px;
}

button {
  background-color: #b5bfd9;
  padding: 12px 22px;
  text-align: center;
  border-radius: 15px;
  font-size: 20px;
 }

.equal {
  background-color: red;
  color: white;
  grid-column: span 2;
  font-weight: bold;

}

.reset {
  background-color: #647296;
  color: white;
  font-weight: bold;
  grid-column: span 2;
}
